.navbar-center{
    padding: 2px 2px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
} 
.loginbtn{
    position: absolute;
    right: 2%;
    top:15px;
}